[include beep.cfg]

#####################################################################
# Start Code Superslicer: 
# START_PRINT BED={first_layer_bed_temperature} EXTRUDER={first_layer_temperature}
# Start Code Cura (activate relative extrusion in cura / aktiviere Relative Extrusion in Cura):
# START_PRINT BED={material_bed_temperature_layer_0} EXTRUDER={material_initial_print_temperature}
# Prusa Slicer Startcode
# START_PRINT BED=[first_layer_bed_temperature] EXTRUDER=[first_layer_temperature]
# Orca Slicer
# START_PRINT EXTRUDER=[nozzle_temperature_initial_layer] BED=[hot_plate_temp_initial_layer]
######################################################################

[gcode_macro START_PRINT]
description: All what needs to be done at print start
gcode:
    #### set defaults ####
    {% set extruder = params.EXTRUDER|default(0) %}
    {% set bed = params.BED|default(0) %}
    #### end off definition  ###
    G28                                      ; Home
    M83                                      ; Extruder relative mode
    M104 S140                                ; Extruder heat up standby temp 140
    M190 S{bed}                            ; Bed heat up
    G1 X0 Y0 F2200							 ; Go to front
    M109 S{extruder}                       ; Extruder heat up to target temp
    G92 E0.0                                 ; Reset extruder length
    G90                                      ; Absolute positioning
    BED_MESH_PROFILE LOAD="default"
    TURN_ON_LED        # LED On
    THE_LEGEND_OF_ZELDA_MAGIC_RECORDER
    
    PRIME_LINE                               ; First move 


######################################################################
# PRIME LINE
######################################################################

[gcode_macro PRIME_LINE]
description: Do a prime line
gcode:
    G1 X0.1 Y20 F5000.0             ; Move to start position
    G1 Z0.2 F240                    ; move nozzle and bed closer together
    G92 E0.0                        ; reset extruder
    G1 E5.0 F500                    ; pre-purge prime LENGTH SHOULD MATCH YOUR PRINT_END RETRACT
    G1 Y190 E15.0 F1500.0           ; intro line
    G1 X2.3 F5000                   ; move over a bit
    G1 Y10 E30 F1200.0              ; intro line
    G92 E0.0                        ; reset extruder
    G1 Z2.0 F3000                   ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0          ; Move over to prevent blob squish
 
######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

######################################################################
# END PRINT
######################################################################

[gcode_macro END_PRINT]
description: All what needs to be done at print end
gcode:
    TURN_OFF_HEATERS                         ; Turn off bed and nozzle
	G91                                      ; Relative positioning
	G1 E-1 F3000                             ; Retract
	G1 X-0.5 Y-0.5 Z5 E-5                    ; Move a bit and retract filament even more
	G90                                      ; Absolute positioning
	G1 X0 Y200 F2200                         ; Move bed to front
	M107                                     ; Turn off part fan
	M84                                      ; Steppers off
	G90                                      ; Absolute positioning
	M117 Print done                          ; Send finish to display
    TURN_OFF_FAN
    DISABLE_STEPPERS
    AIRWOLF_COMPLETE

######################################################################
# PAUSE PRINT
######################################################################

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
    {%set act_extrude_temp = printer.extruder.temperature|int %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if act_extrude_temp > min_extrude_temp %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 

######################################################################
# RESUME PRINT
######################################################################

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    {%set min_extrude_temp = printer.configfile.settings["extruder"]["min_extrude_temp"]|int %}
    {%set act_extrude_temp = printer.extruder.temperature|int %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if act_extrude_temp > min_extrude_temp %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

######################################################################
# CANCEL_PRINT
######################################################################

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-1 ; Retract filament 3 mm to prevent oozing
   {% endif %}
   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      G1 F6000 Z10 ; Move Z Axis up 10 mm to allow filament ooze freely
      G90 ; Set coordinates to absolute
      G1 X0 Y150 F1000 ; Move Heat Bed to the front for easy print removal
      #M84 ; Disable stepper motors
   {% endif %}
   ;set part fan speed to zero.
   M106 S0
   CANCEL_PRINT_BASE
######################################################################
# Pressure Advance Calibration
######################################################################

[gcode_macro PA_Calibration]
description: Adjust Velocity and PA parameters for bowden extruder
gcode:
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
    TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.020

######################################################################
# PID MACRO
######################################################################

[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60

[gcode_macro PID_Extruder]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200


######################################################################
# Motor Off
######################################################################

[gcode_macro Motor_aus]
gcode:
  M18

######################################################################
# M300 - Pieper
######################################################################

[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=beeper_pin VALUE=0.85 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=beeper_pin VALUE=0

######################################################################
# Wartungsposition 
######################################################################
[gcode_macro Wartungsposition]
gcode:
    G28
    # Absolute mode on
    G90
    # Wartungskoordinate
    G1 X110 Y120 Z105 F1000
    # Relative Mode on
    G91
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Disable steppers
    # M84

[gcode_macro UNLOAD_FILAMENT]
gcode:
    HOME_IF_NOT_HOME
    M109 S210          # Wait for Hotend Temperature
    TURN_OFF_LED       # LED Off
    M83                # E Relative
    G0 E2 F300         # Linear Move - Non-Print - Extrude Only
    G0 E-15 F3000      # Linear Move - Non-Print
    G0 E-100 F500      # Linear Move - Non-Print
    G0 E-300 F2000     # Linear Move - Non-Print
    G0 E-85 F250       # Linear Move - Non-Print
    M82                # E Absolute
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=0
    THE_LEGEND_OF_ZELDA_ITEM_SAVE_CONTINUE_RETRY_SCREEN


[gcode_macro LOAD_FILAMENT]
gcode:
    HOME_IF_NOT_HOME
    M109 S210          # Wait for Hotend Temperature
    TURN_ON_LED        # LED On
    M83                # E Relative
    G0 E400 F400       # Linear Move - Print - Extrude Only
    G0 E150 F400       # Linear Move - Print - Extrude Only
    M82                # E Absolute
    SET_FILAMENT_SENSOR SENSOR=runout ENABLE=1
    THE_LEGEND_OF_ZELDA_ITEM_SAVE_CONTINUE_RETRY_SCREEN


[gcode_macro DISABLE_STEPPERS]
gcode:
    M18                # Disable steppers


[gcode_macro TURN_ON_FAN]
description: Turn on print cooling fan and set its speed
# usage: TURN_ON_FAN [SPEED=<speed>]
gcode:
    {% set S = params.SPEED|default(255)|int %}
    {% if S > 255 or S < 0 %}
        { action_raise_error("S%i is out of range." | format(S)) }
    {% endif %}

    M106 S{S}          # Set Fan Speed


[gcode_macro TURN_OFF_FAN]
gcode:
    M107               # Fan Off


[gcode_macro TURN_ON_LED]
gcode:
    SET_PIN PIN=led_pin VALUE=1


[gcode_macro TURN_OFF_LED]
gcode:
    SET_PIN PIN=led_pin VALUE=0


[gcode_macro TURN_OFF_EVERYTHING]
gcode:
    TURN_OFF_HEATERS   # Klipper macro
    TURN_OFF_FAN
    TURN_OFF_LED       # LED On


[gcode_macro MAINTENANCE_POSITION]
description: Move carriage to maintenance position for easier access
gcode:
    HOME_IF_NOT_HOME
    G0 Z150 F1000      # Linear Move - Non-Print
    TURN_OFF_EVERYTHING
    DISABLE_STEPPERS
    TURN_ON_LED        # LED On



[gcode_macro SEARCH_VARS]
description: Search for variables based on string input
# usage: 'SEARCH_VARS s="profile"'
gcode:
    {% if not params.S %}
        {action_respond_info("hmm.. try 'SEARCH_VARS s=\"profile\"'")}
    {% else %}
        {% set resultcount = namespace(total=0) %}
        {% set search = params.S|lower %}
        {% set ns = namespace() %}
        {% for item in printer  %}
            {% if ' ' in item %}
                {% set ns.path = ['printer', "['%s']" % (item), ''] %}
            {% else %}
                {% set ns.path = ['printer.', item, ''] %}   
            {% endif %} 
    
            {% if search in ns.path|lower %}
                { action_respond_info(ns.path|join) }
                {% set resultcount.total = 1 + resultcount.total %}
            {% endif %} 
    
            {% if printer[item].items() %}
                {% for childkey, child in printer[item].items() recursive %}
                    {% set ns.path = ns.path[:loop.depth|int + 1] %}
    
                    {% if ' ' in childkey %}
                        {% set null = ns.path.append("['%s']" % (childkey)) %}
                    {% else %}
                        {% set null = ns.path.append(".%s" % (childkey)) %}
                    {% endif %} 
    
                    {% if child is mapping  %}
                        { loop(child.items()) }
                    {% else %}
                        {% if search in ns.path|lower %}
                            { action_respond_info("%s : %s" % (ns.path|join, child)) }
                            {% set resultcount.total = 1 + resultcount.total %}
                        {% endif %} 
                    {% endif %} 
                    
                {% endfor %}
            {% endif %} 
        {% endfor %}
        {% if resultcount.total >= 1 %}
            {action_respond_info("found \"" + params.S + "\" " + resultcount.total|string +" times.")}
        {% else %}
            {action_respond_info("\"" + params.S + "\" not found.")}
        {% endif %} 
        {% set resultcount.total = 0|int %}
    {% endif %}

# CALIBRATION
#

[gcode_macro HOME_IF_NOT_HOME]
description: You can't go home again
gcode:
    {% if printer.toolhead.homed_axes != 'xyz' %}
    G28                # Auto Home
    {% endif %}


[gcode_macro HOME_AND_CENTER]
description: Home all & center nozzle (if not already)
gcode:
    HOME_IF_NOT_HOME
    G90                # Absolute Positioning
    G0 X122.5 Y122.5   # Linear Move - Non-Print
   #{ action_respond_info("Head positioned at center...") }


[gcode_macro PROBE_CALIBRATE_POSITION]
description: Move carriage to center of bed for PROBE_CALIBRATE
gcode:
    HOME_AND_CENTER
    TURN_ON_LED        # LED On


[gcode_macro CALIBRATE_BED_MESH]
description: Calibrate bed mesh
gcode:
    HOME_IF_NOT_HOME
    M140 S60           # Set Bed Temperature
    M190 S60           # Wait for Bed Temperature
    M104 S150          # Set Hotend Temperature
    M109 S150          # Wait for Hotend Temperature
    BED_MESH_CALIBRATION
   #{ action_respond_info("Ready for bed mesh calibration...") }


[gcode_macro BED_MESH_CALIBRATION]
gcode:
    BED_MESH_PROFILE REMOVE=default
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    THE_LEGEND_OF_ZELDA_SECRET_DISCOVERY
    SAVE_CONFIG

[gcode_macro PID_EXTRUDER]
description: Perform PID tuning of extruder with desired fan speed
gcode:
    {% set extruder_temp = params.EXTRUDER_TEMP|default(200)|float %}
    {% set fan_speed = params.FAN_SPEED|default(255)|int %}
    TURN_ON_FAN SPEED={fan_speed}
    PID_CALIBRATE HEATER=extruder TARGET={extruder_temp}

[gcode_macro PID_BED]
gcode:
    {% set heater_bed_target = params.TARGET|default(60)|float %}
    TURN_OFF_FAN
    PID_CALIBRATE HEATER=heater_bed TARGET={heater_bed_target}


